.TextInput {
  &--withError {

  }

  &__label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-bottom: 6px;
  }

  &__input {
    height: 40px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    outline: none;

    &:focus {
      border: 1px solid #00AFB9;
      box-sizing: border-box;
      border-radius: 2px;
    }

    &:disabled {
      background-color: #fbfafa;
      border-color: hsl(0, 0%, 90%);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active
    {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  }

  &--small {
    .TextInput__input {
      height: 26px;
      font-size: 12px;
      line-height: 14px;
      padding: 5px;
    }
  }

  &--disabled {
    .TextInput__input {
      background-color: hsl(0, 0%, 95%);
    }
  }

  &__error {
    &__message {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #C800A1;
      margin-top: 4px;
    }
  }
}
